<!-- Footer -->
<footer>
    <div class="container">

		{% include infoSection.html %}
    	{% include socialMedia.html %}
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}">console.log("site",site)</script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.js " | prepend: site.baseurl }}"></script>
<!-- Add Google anlaytics -->
{% include ga.html %}
