<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ page.description }}">
	<meta property="og:locale" content="en"/>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:description" content="{{ page.description }}"/>
	<meta property="og:site_name" content="Baran Dogan Law Office"/>
	<meta property="og:image:width" content="844"/>
	<meta property="og:image:height" content="416"/>
	<meta name="twitter:card" content="summary_large_image"/>
	<meta name="twitter:description" content="{{ page.description }}"/>
	<meta name="twitter:title" content="{{ page.title }}"/>
	<meta name="twitter:site" content="@baran_dogan"/>
	<meta name="twitter:creator" content="@baran_dogan"/>
	<meta name="google-site-verification" content="zyVXpNljj6tRiNBahSC3r7Or3XimSeTZYyVzhvLOxsA"/>
	<meta property="article:author" content="https://www.facebook.com/avukatbarandogan"/>
	<meta property="og:type" content="article"/>
	<meta property="fb:admins" content="701440940"/>
	<meta property="og:url" content="{{ site.url }}/en{{ page.url }}">
	<meta name="keywords" content="{{ page.keywords }}"/>
    <title>{{ page.title }}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/clean-blog.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% feed_meta %}

</head>
